body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background: linear-gradient(45deg, #000000, #220033, #220055, #220077, #ff00ff, #00ffff); /* Noir en premier, puis les autres couleurs */
    background-size: 500% 500%;
    animation: gradientAnimation 10s ease infinite;
    z-index: 2;
    position: relative;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Styles pour chaque carte */
.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 40px; 
    margin-left: 40px;
    margin-top: 40px; 
    top: 50px;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    color: white; /* Couleur du texte */
}

.card p:not(.heading) {
    font-size: 14px;
    color: white; /* Couleur du texte */
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.cartes-container {
    display: flex;
    justify-content: space-between; /* Pour espacer les cartes horizontalement */
  }

   
  .decouvrir-badges {
    margin-top: 20px;
    font-size: 1.5em; /* Taille de police ajustée selon vos préférences */
    color: black; /* Couleur du texte ajustée selon vos préférences */
    margin-top: 100px;
}
  
p {
    font-size: 1.5em; /* Taille de police augmentée */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    line-height: 1.5; /* Hauteur de ligne pour un meilleur espacement */
}