/* footer.css */

.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    padding: 0.5em;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #1e90ff;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.8em;
    opacity: 0.7;
}

.footer-social {
    margin-top: 20px;
}

.footer-social .button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.footer-social .button svg {
    fill: white; /* Assurez-vous que vos SVGs gèrent la propriété fill pour la couleur */
    height: 30px;
    width: 30px;
    transition: fill 0.3s ease;
}

.footer-social .button:hover svg {
    fill: #1e90ff;
}


/* Styles pour la section newsletter si elle est dans le footer */
.newsletter {
    background: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
    width: 100%; /* Assurez-vous que la newsletter s'étend sur toute la largeur si nécessaire */
}

.newsletter h2 {
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: orangered;
}



  